/* SPDX-License-Identifier: AGPL-3.0-only */
body {
	font-family: monospace;
	background-color: black;
	color: white;
	font-size: 9pt;
	margin: 30px;
}

h1 {
	font-size: 25pt;
	display: flex;
	gap: 0.5ex;
	margin-bottom: 0.2em;
	align-items: start;
}

a:visited { color: inherit; }

a:link, summary {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;

	&:hover { filter: brightness(0.75) }
}

#spinner {
	width: auto;
	height: 1.2em;
	color: grey;
	flex-shrink: 0;
}

#info {
	margin: 1em 0;
	max-width: 64em;

	details, summary { display: inline }
	details summary::before { content: "Show info" }
	details[open] summary::before { content: "Hide info" }
	details[open]::details-content { margin-top: 0.5em }
}

#data {
	max-width: 64em;
	display: flex;
	flex-direction: column;
}

#progress {
	width: 100%;
	appearance: none;
	border: 2px solid white;
	background-color: black;
	height: 1.5em;
	box-sizing: border-box;

	&::-webkit-progress-bar { background-color: black }
	&::-moz-progress-bar { background-color: white }
	&::-webkit-progress-value { background-color: white }
}

#log {
	padding: 4px;
	list-style: none;
	margin: 0;
	border-width: 0px 2px 2px 2px;
	border-style: solid;
	word-break: break-word;
	padding-left: 3.1ex;
	text-indent: -3.1ex;

	li {
		color: darkgray;
		&:last-child { color: white }
	}
}

li:before {
  content: ">";
  padding: 0 1ex;
}

.attribution {
	color: gray;
	font-style: italic;
}

body.started {
	#spinner {
		color: yellow;
		animation: 0.25s linear spin infinite;
	}
}

body.error {
	#spinner {
		color: sienna;
		animation: none;
	}
}

body.done {
	#spinner {
		color: green;
		animation: none;
	}
	#mask { display: none }
}

@keyframes spin {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

@media (width <= 600px) {
	h1 { display: inline }

	#spinner {
		float: right;
		margin-left: 1ex;
	}
}

@media (width <= 350px) {
	body { margin: 10px }
}
